<h4>{{model.name}}</h4>   
<p>Description: {{model.description}}</p>  
<p>Start Date: {{date-and-time model.startDate}}</p>
<p>Time Since Start: {{time-ago-in-words model.startDate}}</p>
<p>End Date: {{date-and-time model.endDate}}</p>

